header {
  font-size: 1.5vw;
  margin: 4vh 1vw;
}

nav {
  display: inline-block;
  width: 49%;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 0.5vw 1vw;
  transition: box-shadow 0.4s;
  text-decoration: underline;
  border-radius: 1vw;
}

nav a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.home {
  text-align: left;
}

.about {
  text-align: right;
}
