@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import '/reset.css';
@import '/header.css';
@import '/footer.css';

html {
  font-family: 'Exo 2', sans-serif;
  background-color: hsl(280, 57%, 97%);
  color: hsl(280, 57%, 25%);
  font-size: 1.25vw;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: hsl(280, 57%, 25%);
}

h1 {
  font-size: 4vw;
  margin: 0;
}

h2 {
  font-size: 2vw;
  margin: 0;
}

h3 {
  font-size: 1.5vw;
  margin: 0;
}

button {
  background: none;
  cursor: pointer;
  padding: 0.5vw 0.5vw;
  font-size: 1.5vw;
  color: hsl(280, 57%, 25%);
  border: 1px solid hsl(280, 57%, 25%);
  border-radius: 1vw;
  transition: box-shadow 0.2s;
}
button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postThumb {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  object-position: 50% 35%;
}

.mainContent {
  display: grid;
  width: 65%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5vw 2.5vw;
  align-items: center;
  justify-items: center;
  margin: 5vw auto;
}
